<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <title>Document</title>
</head>

<body>
    <center>
        <br>
        <br>
        <h1> <p class="text-info">welcome to the online brain storming session</p></h1>

        <h4><p class="text-secondary">add your thoughts and ideas</p></h4>
        <br>
        <br>

        <img src="https://images.yourstory.com/2016/07/cover-01.jpg?auto=compress" alt="picture" height="200" width="200">
        <br>
        <br>
        <br>
        <br>
        <!-- <a href='/projects'> All Project </a> -->
        <a class="btn btn-primary" href='/projects' role="button">All Project</a>
        <br>
        <br>
        <br>
        <br>
        <!-- <a href='/departments'>All departments</a> -->
        <a class="btn btn-primary" href='/departments' role="button">All departments</a>

    </center>
</body>

</html>