<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1>Add a new Idea xx</h1>
    <form action="/ideas/project/{{projectId}}" method="POST">

         <label for="idea">
            Idea: <input type="text" id="idea" name="idea">
        </label>

        <button type="submit">Create idea </button>
    </form>
</body>

</html>