<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- {{department.name}} -->
</head>
<body>
    <center>
    <!-- <h1>{{department.name}}</h1>
    <img src="{{department.img_url}}" alt="{{department.name}}">
   <h2>
        -->
        <a href="/"> <button type="Home">home</button></a>
        
        {{#department}}
        <h1>{{name}}</h1>
        {{/department}}
<!--  
<a href='/projects'> All Project </a> -->
<!-- <a href="/departments/{{name}}">{{name}}</a><br> -->
   </h2>
</center>
</body>
</html>