<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>projects</title>
</head>
<body>
      
    <center>
            <a href="/"> <button type="Home">home</button></a>
    <h1>Projects</h1>
    
    {{#projects}}
    <a href="/ideas/project/{{id}}">{{name}}<br> {{img_url}}</a><br>

    {{/projects}}
    <h1>this is the projects page</h1>
    <!-- <button type="submit">delete Idea</button> -->

    <a href="/projects/">Create projet</a>

    <!-- <a href=""> <button type="submit">create projects</button></a> -->

</center>
</body>
</html>