<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">

    <title>projects</title>
</head>

<body>

    <!-- <center> -->
    <div class="container">

        <!-- <a href="/"> <button type="Home">home</button></a> -->
        <a class="btn btn-primary" href="/" role="button">home</a>

        <h1>
            <p class="text-info">Projects</p>
        </h1>

        {{#projects}}
        <a href="/ideas/project/{{id}}">{{name}}<br> </a><br>
        <img src="{{img_url}}" alt="">
        <form action="/projects/{{id}}?_method=DELETE" method="POST">
            <button class="btn btn-outline-danger mt-1" type="submit">delete project</button>
        </form>

        {{/projects}}
        <h1>this is the projects page</h1>

        <!-- <a href="/projects/new">Create projet</a> -->
        <br>
        <br>
        <a class="btn btn-primary" href="/projects/new" role="button">Create projet</a>

        <!-- <a href="/projects/new"> <button type="submit">create projects</button></a> -->

        <!-- </center> -->
</body>
</div>

</html>